@import "tailwindcss";

/* -- Light values -- */
:root {
  --bg: #ffffff;
  --fg: #171717;
  --card: #ffffff;
  --cardsBG: #e8e8e8;
  --border: #e5e7eb;
  --muted: #6b7280;
  --accent: #000000;
  --font-sans: var(--font-sans);
}

.dark {
  --bg: #0a0a0a;
  --fg: #ededed;
  --card: #0f1724;
  --cardsBG: #202020;
  --border: #1f2937;
  --muted: #9ca3af;
  --accent: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cardsBG: var(--cardsBG);
  --color-card: var(--card);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html, body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-sans), Inter, sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;

}

::-webkit-scrollbar-thumb {
  background: #cccfd1;
  /* border-radius: 4px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hide scrollbar but allow horizontal scroll */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}